<h3>{{title}}</h3>
<app-registration></app-registration><h3>{{regHeader}}</h3>
<form [formGroup]="registrationForm" (ngSubmit)="submitDetails()">
  <tr>
    <td>Name:</td>
    <td>
      <input type="text" formControlName="name" name="name">
    </td>
  </tr>
  <tr>
    <td>email:</td>
    <td>
      <input type="email" formControlName="email" name="email" >
    </td>
  </tr>
  <tr>
    <td>Phone:</td>
    <td>
      <input type="text" formControlName="phone" name="phone">
    </td>
  </tr>
  <button type="submit">Submit</button>
</form>

