<h1>{{title}}</h1>
<div>
  <h2>Add todo</h2>
  <form [formGroup]="todoForm" (ngSubmit)="addTodo()" #formDirective="ngForm">
    <td>
<!--      one type of data binding-->
      <input type="text" [formControlName]="'task'"><br>
      <label>Start date:</label><br>
<!--      second type of data binding-->
      <input type="date" formControlName="dueDate" [min]="today">

      <div>
        <span *ngFor="let item of priorities">
        <input type="radio" name="priority" formControlName="priority" value="{{item}}"> {{item}}
        </span>
      </div>

    </td>
    <button type="submit" [disabled]="todoForm.invalid">Add</button>
  </form>



</div>

